*{
    /* background-color: #1A0b2E; */
}




.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}


/* header styles */



/* navbar related styles */
.navbar{
    justify-content:center;
    align-items: center;
    float:left;
    
    
}

header{
    background-color:#1A0b2E;
    /* background-image: url(/assets/hero-circle.png); */
    /* padding-inline-start: 20%; */
    background-repeat: no-repeat;
    /* padding-bottom: 0%; */
    /* position: relative; */

}
.banner .nav-image{
    /* padding-bottom: left,right,bottom; */
    
}





span{
    color:purple;
}
.text-box{
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 90%;
    left: 53%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    font-size: 14px;
}
.btn {
    border-radius: 16px;
    padding: 10px 10px;
}
.about{
     width: 100%;
    color: #ffffff;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    background-color: #1A0b2E;
}
.about h1 {
    font-size: 62px;
}
.about p {
    font-size: 14px;
}
.fact-caed h1 {
   color:#00FF88;
   font-size: 62px;
   background-color: #1A0b2E;

}

.facts-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}

.card .icons{
    
    
}
    













.nav-links .display-flex a {
    float: left;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 62px;
    margin-top: 27px;
}





.brand{
    font-weight: 700;
    font-size: 3rem;
}


.nav-item{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    color: #ffffff;

    
}
ul{
   float: left;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 350px;
    margin-top: 27px;
}
.btn-primary{
    /* color:linear(red,orange,yellow,green,Mint,teal,cyan,blue,indigo,purple,pink,brown); */
    text-align: right;
    font-size: 14px;
    border-radius:2rem;
    padding: 10px 15px;
    margin-left: 500px;
    color:purple
}
.btn-primary{
    border-radius: 4rem;
}




.brand{
    color: #ffffff;
}
.navbar.banner{
    max-width: 1440px;
    margin: 0 auto;

}
.nav-image{
    max-width: 1600px;
}